@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  height: 100vh;
}

#__next {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
}

.loading span {
  animation-name: loadingDots;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading span:nth-child(2) {
  animation-delay: .4s;
}

.loading span:nth-child(3) {
  animation-delay: .6s;
}

@keyframes loadingDots {
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-.5rem);
  }
}

@-webkit-keyframes loadingDots {
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-.5rem);
  }
}
